<!DOCTYPE html>
<html>
<head>
    
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    
        <script>
            L_NO_TOUCH = false;
            L_DISABLE_3D = false;
        </script>
    
    <style>html, body {width: 100%;height: 100%;margin: 0;padding: 0;}</style>
    <style>#map {position:absolute;top:0;bottom:0;right:0;left:0;}</style>
    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.9.3/dist/leaflet.js"></script>
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.9.3/dist/leaflet.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-glyphicons.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@6.2.0/css/all.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/python-visualization/folium/folium/templates/leaflet.awesome.rotate.min.css"/>
    
            <meta name="viewport" content="width=device-width,
                initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
            <style>
                #map_06ab8b1008a69ec137a6697bd4edac20 {
                    position: relative;
                    width: 100.0%;
                    height: 100.0%;
                    left: 0.0%;
                    top: 0.0%;
                }
                .leaflet-container { font-size: 1rem; }
            </style>
        
</head>
<body>
    
    
            <div class="folium-map" id="map_06ab8b1008a69ec137a6697bd4edac20" ></div>
        
</body>
<script>
    
    
            var map_06ab8b1008a69ec137a6697bd4edac20 = L.map(
                "map_06ab8b1008a69ec137a6697bd4edac20",
                {
                    center: [33.3496909090909, 2.964745454545455],
                    crs: L.CRS.EPSG3857,
                    ...{
  "zoom": 6,
  "zoomControl": true,
  "preferCanvas": false,
}

                }
            );

            

        
    
            var tile_layer_77c99d1d3d6e7da7a3252b02dadd6649 = L.tileLayer(
                "https://tile.openstreetmap.org/{z}/{x}/{y}.png",
                {
  "minZoom": 0,
  "maxZoom": 19,
  "maxNativeZoom": 19,
  "noWrap": false,
  "attribution": "\u0026copy; \u003ca href=\"https://www.openstreetmap.org/copyright\"\u003eOpenStreetMap\u003c/a\u003e contributors",
  "subdomains": "abc",
  "detectRetina": false,
  "tms": false,
  "opacity": 1,
}

            );
        
    
            tile_layer_77c99d1d3d6e7da7a3252b02dadd6649.addTo(map_06ab8b1008a69ec137a6697bd4edac20);
        
    
            var marker_899d0fec6c5f92b39948f5d0a79c84c7 = L.marker(
                [32.5, 3.0],
                {
}
            ).addTo(map_06ab8b1008a69ec137a6697bd4edac20);
        
    
            var icon_de7455947a7757368517c984f8a39ffb = L.AwesomeMarkers.icon(
                {
  "markerColor": "blue",
  "iconColor": "white",
  "icon": "info-sign",
  "prefix": "glyphicon",
  "extraClasses": "fa-rotate-0",
}
            );
        
    
        var popup_95d9ce7f0cf2f594c170aa5eb81e57c2 = L.popup({
  "maxWidth": 300,
});

        
            
                var html_1e19793c320c933ceef365c16bafda66 = $(`<div id="html_1e19793c320c933ceef365c16bafda66" style="width: 100.0%; height: 100.0%;">                 <b>ID Client:</b> 37<br>                 <b>Localisation:</b> Nouveau camp - Zone Sbaa (G: 170 km - P: ...)<br>                 <b>Nature du terrain:</b> Non spécifiée<br>                 <b>Distance goudron:</b> 232.0 km<br>                 <b>Distance piste:</b> 80.0 km<br>                 <b>Temps aller:</b> 1.00 h                 </div>`)[0];
                popup_95d9ce7f0cf2f594c170aa5eb81e57c2.setContent(html_1e19793c320c933ceef365c16bafda66);
            
        

        marker_899d0fec6c5f92b39948f5d0a79c84c7.bindPopup(popup_95d9ce7f0cf2f594c170aa5eb81e57c2)
        ;

        
    
    
            marker_899d0fec6c5f92b39948f5d0a79c84c7.bindTooltip(
                `<div>
                     Chantier: 37
                 </div>`,
                {
  "sticky": true,
}
            );
        
    
                marker_899d0fec6c5f92b39948f5d0a79c84c7.setIcon(icon_de7455947a7757368517c984f8a39ffb);
            
    
            var marker_74cfbd43ad06d9ec83473c4c430ab1e9 = L.marker(
                [28.9, -1.3],
                {
}
            ).addTo(map_06ab8b1008a69ec137a6697bd4edac20);
        
    
            var icon_a3deebe59c0c1c00d236607954f58641 = L.AwesomeMarkers.icon(
                {
  "markerColor": "blue",
  "iconColor": "white",
  "icon": "info-sign",
  "prefix": "glyphicon",
  "extraClasses": "fa-rotate-0",
}
            );
        
    
        var popup_abfad7af1e86690d4cd7a9be5c67d7a2 = L.popup({
  "maxWidth": 300,
});

        
            
                var html_9596cf5ef9704a4214b4f6b68c9f6738 = $(`<div id="html_9596cf5ef9704a4214b4f6b68c9f6738" style="width: 100.0%; height: 100.0%;">                 <b>ID Client:</b> 38<br>                 <b>Localisation:</b> Tinirkouk - W. Adrar<br>                 <b>Nature du terrain:</b> Non spécifiée<br>                 <b>Distance goudron:</b> 961.0 km<br>                 <b>Distance piste:</b> 75.0 km<br>                 <b>Temps aller:</b> 2.00 h                 </div>`)[0];
                popup_abfad7af1e86690d4cd7a9be5c67d7a2.setContent(html_9596cf5ef9704a4214b4f6b68c9f6738);
            
        

        marker_74cfbd43ad06d9ec83473c4c430ab1e9.bindPopup(popup_abfad7af1e86690d4cd7a9be5c67d7a2)
        ;

        
    
    
            marker_74cfbd43ad06d9ec83473c4c430ab1e9.bindTooltip(
                `<div>
                     Chantier: 38
                 </div>`,
                {
  "sticky": true,
}
            );
        
    
                marker_74cfbd43ad06d9ec83473c4c430ab1e9.setIcon(icon_a3deebe59c0c1c00d236607954f58641);
            
    
            var marker_b6c8f7b01094cba42199d8f4ce74be6e = L.marker(
                [33.35, 6.85],
                {
}
            ).addTo(map_06ab8b1008a69ec137a6697bd4edac20);
        
    
            var icon_90d0b76fe348f58bb663befa168a85b2 = L.AwesomeMarkers.icon(
                {
  "markerColor": "blue",
  "iconColor": "white",
  "icon": "info-sign",
  "prefix": "glyphicon",
  "extraClasses": "fa-rotate-0",
}
            );
        
    
        var popup_a08489b10b8e5649ba5ece65b4fd8842 = L.popup({
  "maxWidth": 300,
});

        
            
                var html_5b14d5b36d8bcc90fb88877a4e8840c8 = $(`<div id="html_5b14d5b36d8bcc90fb88877a4e8840c8" style="width: 100.0%; height: 100.0%;">                 <b>ID Client:</b> 39<br>                 <b>Localisation:</b> El Oued<br>                 <b>Nature du terrain:</b> Non spécifiée<br>                 <b>Distance goudron:</b> 290.0 km<br>                 <b>Distance piste:</b> 0.0 km<br>                 <b>Temps aller:</b> 1.00 h                 </div>`)[0];
                popup_a08489b10b8e5649ba5ece65b4fd8842.setContent(html_5b14d5b36d8bcc90fb88877a4e8840c8);
            
        

        marker_b6c8f7b01094cba42199d8f4ce74be6e.bindPopup(popup_a08489b10b8e5649ba5ece65b4fd8842)
        ;

        
    
    
            marker_b6c8f7b01094cba42199d8f4ce74be6e.bindTooltip(
                `<div>
                     Chantier: 39
                 </div>`,
                {
  "sticky": true,
}
            );
        
    
                marker_b6c8f7b01094cba42199d8f4ce74be6e.setIcon(icon_90d0b76fe348f58bb663befa168a85b2);
            
    
            var marker_74babdc25b3f1b987affbea913581b17 = L.marker(
                [32.85, 5.65],
                {
}
            ).addTo(map_06ab8b1008a69ec137a6697bd4edac20);
        
    
            var icon_c788d849b8612d6e2f1e430ed8857fdb = L.AwesomeMarkers.icon(
                {
  "markerColor": "blue",
  "iconColor": "white",
  "icon": "info-sign",
  "prefix": "glyphicon",
  "extraClasses": "fa-rotate-0",
}
            );
        
    
        var popup_d3391313082e440ff96f4ca77010855c = L.popup({
  "maxWidth": 300,
});

        
            
                var html_201568e6bf5ddb7433836cfe7f19cc95 = $(`<div id="html_201568e6bf5ddb7433836cfe7f19cc95" style="width: 100.0%; height: 100.0%;">                 <b>ID Client:</b> 40<br>                 <b>Localisation:</b> BEZIM DAHRAOUI<br>                 <b>Nature du terrain:</b> Non spécifiée<br>                 <b>Distance goudron:</b> 15.0 km<br>                 <b>Distance piste:</b> 0.0 km<br>                 <b>Temps aller:</b> 0.50 h                 </div>`)[0];
                popup_d3391313082e440ff96f4ca77010855c.setContent(html_201568e6bf5ddb7433836cfe7f19cc95);
            
        

        marker_74babdc25b3f1b987affbea913581b17.bindPopup(popup_d3391313082e440ff96f4ca77010855c)
        ;

        
    
    
            marker_74babdc25b3f1b987affbea913581b17.bindTooltip(
                `<div>
                     Chantier: 40
                 </div>`,
                {
  "sticky": true,
}
            );
        
    
                marker_74babdc25b3f1b987affbea913581b17.setIcon(icon_c788d849b8612d6e2f1e430ed8857fdb);
            
    
            var marker_c98f5ffecf4c1ab6e085338e3ca0438f = L.marker(
                [30.57, 2.88],
                {
}
            ).addTo(map_06ab8b1008a69ec137a6697bd4edac20);
        
    
            var icon_acf540f011c116ce7807fae9d10feb68 = L.AwesomeMarkers.icon(
                {
  "markerColor": "blue",
  "iconColor": "white",
  "icon": "info-sign",
  "prefix": "glyphicon",
  "extraClasses": "fa-rotate-0",
}
            );
        
    
        var popup_09181e02d3c6a0de1bb34c1e57b1d10c = L.popup({
  "maxWidth": 300,
});

        
            
                var html_7a9020315a7483a9753e2e1c6b45e3f9 = $(`<div id="html_7a9020315a7483a9753e2e1c6b45e3f9" style="width: 100.0%; height: 100.0%;">                 <b>ID Client:</b> 41<br>                 <b>Localisation:</b> El Menia<br>                 <b>Nature du terrain:</b> Non spécifiée<br>                 <b>Distance goudron:</b> 475.0 km<br>                 <b>Distance piste:</b> 65.0 km<br>                 <b>Temps aller:</b> 1.00 h                 </div>`)[0];
                popup_09181e02d3c6a0de1bb34c1e57b1d10c.setContent(html_7a9020315a7483a9753e2e1c6b45e3f9);
            
        

        marker_c98f5ffecf4c1ab6e085338e3ca0438f.bindPopup(popup_09181e02d3c6a0de1bb34c1e57b1d10c)
        ;

        
    
    
            marker_c98f5ffecf4c1ab6e085338e3ca0438f.bindTooltip(
                `<div>
                     Chantier: 41
                 </div>`,
                {
  "sticky": true,
}
            );
        
    
                marker_c98f5ffecf4c1ab6e085338e3ca0438f.setIcon(icon_acf540f011c116ce7807fae9d10feb68);
            
    
            var marker_1bbd0ed0ec6eea66018b74aa36a401f9 = L.marker(
                [30.47, 3.23],
                {
}
            ).addTo(map_06ab8b1008a69ec137a6697bd4edac20);
        
    
            var icon_c41ded67076140d126a6b40f69307497 = L.AwesomeMarkers.icon(
                {
  "markerColor": "blue",
  "iconColor": "white",
  "icon": "info-sign",
  "prefix": "glyphicon",
  "extraClasses": "fa-rotate-0",
}
            );
        
    
        var popup_434a22c8a117e5a216ae6265ecb9b1fa = L.popup({
  "maxWidth": 300,
});

        
            
                var html_19a5231ffbfc43068786aa4e57960dd3 = $(`<div id="html_19a5231ffbfc43068786aa4e57960dd3" style="width: 100.0%; height: 100.0%;">                 <b>ID Client:</b> 42<br>                 <b>Localisation:</b> Hassi El Fehal - El Menia<br>                 <b>Nature du terrain:</b> Non spécifiée<br>                 <b>Distance goudron:</b> 343.0 km<br>                 <b>Distance piste:</b> 3.0 km<br>                 <b>Temps aller:</b> 1.00 h                 </div>`)[0];
                popup_434a22c8a117e5a216ae6265ecb9b1fa.setContent(html_19a5231ffbfc43068786aa4e57960dd3);
            
        

        marker_1bbd0ed0ec6eea66018b74aa36a401f9.bindPopup(popup_434a22c8a117e5a216ae6265ecb9b1fa)
        ;

        
    
    
            marker_1bbd0ed0ec6eea66018b74aa36a401f9.bindTooltip(
                `<div>
                     Chantier: 42
                 </div>`,
                {
  "sticky": true,
}
            );
        
    
                marker_1bbd0ed0ec6eea66018b74aa36a401f9.setIcon(icon_c41ded67076140d126a6b40f69307497);
            
    
            var marker_66473b43c3e6df28e2f90e8f8e3ee564 = L.marker(
                [29.15, -1.45],
                {
}
            ).addTo(map_06ab8b1008a69ec137a6697bd4edac20);
        
    
            var icon_113231f9dcd087f1d3c07bacef768b19 = L.AwesomeMarkers.icon(
                {
  "markerColor": "blue",
  "iconColor": "white",
  "icon": "info-sign",
  "prefix": "glyphicon",
  "extraClasses": "fa-rotate-0",
}
            );
        
    
        var popup_2fd56005df2597d0a2abb0942f8b6a70 = L.popup({
  "maxWidth": 300,
});

        
            
                var html_e8133d17719f662adb00021edf16fa6e = $(`<div id="html_e8133d17719f662adb00021edf16fa6e" style="width: 100.0%; height: 100.0%;">                 <b>ID Client:</b> 43<br>                 <b>Localisation:</b> HASSI AGRAB<br>                 <b>Nature du terrain:</b> Non spécifiée<br>                 <b>Distance goudron:</b> 94.0 km<br>                 <b>Distance piste:</b> 2.0 km<br>                 <b>Temps aller:</b> 0.50 h                 </div>`)[0];
                popup_2fd56005df2597d0a2abb0942f8b6a70.setContent(html_e8133d17719f662adb00021edf16fa6e);
            
        

        marker_66473b43c3e6df28e2f90e8f8e3ee564.bindPopup(popup_2fd56005df2597d0a2abb0942f8b6a70)
        ;

        
    
    
            marker_66473b43c3e6df28e2f90e8f8e3ee564.bindTooltip(
                `<div>
                     Chantier: 43
                 </div>`,
                {
  "sticky": true,
}
            );
        
    
                marker_66473b43c3e6df28e2f90e8f8e3ee564.setIcon(icon_113231f9dcd087f1d3c07bacef768b19);
            
    
            var marker_d09a1c015e5dbfe888ff2da21229f2f5 = L.marker(
                [48.8566, 2.3522],
                {
}
            ).addTo(map_06ab8b1008a69ec137a6697bd4edac20);
        
    
            var icon_7f5a253574f73d9ec765f09d011aa64d = L.AwesomeMarkers.icon(
                {
  "markerColor": "blue",
  "iconColor": "white",
  "icon": "info-sign",
  "prefix": "glyphicon",
  "extraClasses": "fa-rotate-0",
}
            );
        
    
        var popup_ec01ba6ee5697230278094700040ddad = L.popup({
  "maxWidth": 300,
});

        
            
                var html_8fe7af662231101e27abf035908d5d2c = $(`<div id="html_8fe7af662231101e27abf035908d5d2c" style="width: 100.0%; height: 100.0%;">                 <b>ID Client:</b> 5<br>                 <b>Localisation:</b> Lyon<br>                 <b>Nature du terrain:</b> Urbain<br>                 <b>Distance goudron:</b> 10.5 km<br>                 <b>Distance piste:</b> 5.0 km<br>                 <b>Temps aller:</b> Non spécifié                 </div>`)[0];
                popup_ec01ba6ee5697230278094700040ddad.setContent(html_8fe7af662231101e27abf035908d5d2c);
            
        

        marker_d09a1c015e5dbfe888ff2da21229f2f5.bindPopup(popup_ec01ba6ee5697230278094700040ddad)
        ;

        
    
    
            marker_d09a1c015e5dbfe888ff2da21229f2f5.bindTooltip(
                `<div>
                     Chantier: 5
                 </div>`,
                {
  "sticky": true,
}
            );
        
    
                marker_d09a1c015e5dbfe888ff2da21229f2f5.setIcon(icon_7f5a253574f73d9ec765f09d011aa64d);
            
    
            var marker_212aa57ab6e7be9a6932db2d47972954 = L.marker(
                [34.2, 2.5],
                {
}
            ).addTo(map_06ab8b1008a69ec137a6697bd4edac20);
        
    
            var icon_f26e0dc5ca691e59cd6affd3336b8177 = L.AwesomeMarkers.icon(
                {
  "markerColor": "blue",
  "iconColor": "white",
  "icon": "info-sign",
  "prefix": "glyphicon",
  "extraClasses": "fa-rotate-0",
}
            );
        
    
        var popup_a467b00658780e0a05d3275ddb62749b = L.popup({
  "maxWidth": 300,
});

        
            
                var html_cccf371eb71169e437c40fede413b072 = $(`<div id="html_cccf371eb71169e437c40fede413b072" style="width: 100.0%; height: 100.0%;">                 <b>ID Client:</b> EGS 100<br>                 <b>Localisation:</b> BIR LAHRACHE (G: 860 Km - P: 04 Km)<br>                 <b>Nature du terrain:</b> Non spécifiée<br>                 <b>Distance goudron:</b> 1155.0 km<br>                 <b>Distance piste:</b> 7.0 km<br>                 <b>Temps aller:</b> 2.00 h                 </div>`)[0];
                popup_a467b00658780e0a05d3275ddb62749b.setContent(html_cccf371eb71169e437c40fede413b072);
            
        

        marker_212aa57ab6e7be9a6932db2d47972954.bindPopup(popup_a467b00658780e0a05d3275ddb62749b)
        ;

        
    
    
            marker_212aa57ab6e7be9a6932db2d47972954.bindTooltip(
                `<div>
                     Chantier: EGS 100
                 </div>`,
                {
  "sticky": true,
}
            );
        
    
                marker_212aa57ab6e7be9a6932db2d47972954.setIcon(icon_f26e0dc5ca691e59cd6affd3336b8177);
            
    
            var marker_e6d237e386009acb5ba9ce87f0028a13 = L.marker(
                [32.9, 5.7],
                {
}
            ).addTo(map_06ab8b1008a69ec137a6697bd4edac20);
        
    
            var icon_8c662a2e9807adb775de837d3e51da4f = L.AwesomeMarkers.icon(
                {
  "markerColor": "blue",
  "iconColor": "white",
  "icon": "info-sign",
  "prefix": "glyphicon",
  "extraClasses": "fa-rotate-0",
}
            );
        
    
        var popup_27e93d436c2e1af19508601f6482f507 = L.popup({
  "maxWidth": 300,
});

        
            
                var html_95f77b38092dac637a42188e54c93390 = $(`<div id="html_95f77b38092dac637a42188e54c93390" style="width: 100.0%; height: 100.0%;">                 <b>ID Client:</b> EGS 120<br>                 <b>Localisation:</b> TFT - OHANET<br>                 <b>Nature du terrain:</b> Non spécifiée<br>                 <b>Distance goudron:</b> 603.0 km<br>                 <b>Distance piste:</b> 1.0 km<br>                 <b>Temps aller:</b> 2.00 h                 </div>`)[0];
                popup_27e93d436c2e1af19508601f6482f507.setContent(html_95f77b38092dac637a42188e54c93390);
            
        

        marker_e6d237e386009acb5ba9ce87f0028a13.bindPopup(popup_27e93d436c2e1af19508601f6482f507)
        ;

        
    
    
            marker_e6d237e386009acb5ba9ce87f0028a13.bindTooltip(
                `<div>
                     Chantier: EGS 120
                 </div>`,
                {
  "sticky": true,
}
            );
        
    
                marker_e6d237e386009acb5ba9ce87f0028a13.setIcon(icon_8c662a2e9807adb775de837d3e51da4f);
            
    
            var marker_f5a0c87f9b48fa29a54b94849a37801e = L.marker(
                [33.1, 3.2],
                {
}
            ).addTo(map_06ab8b1008a69ec137a6697bd4edac20);
        
    
            var icon_39b10ea73e24d019ea4e456aaf18c4aa = L.AwesomeMarkers.icon(
                {
  "markerColor": "blue",
  "iconColor": "white",
  "icon": "info-sign",
  "prefix": "glyphicon",
  "extraClasses": "fa-rotate-0",
}
            );
        
    
        var popup_3796eedb4e6851287a5f0a0712c9e9c0 = L.popup({
  "maxWidth": 300,
});

        
            
                var html_2560cb8e4edf7835a6f1c21ecb9f0a2d = $(`<div id="html_2560cb8e4edf7835a6f1c21ecb9f0a2d" style="width: 100.0%; height: 100.0%;">                 <b>ID Client:</b> EGS 60<br>                 <b>Localisation:</b> Hassi R'Mel - Laghouat<br>                 <b>Nature du terrain:</b> Non spécifiée<br>                 <b>Distance goudron:</b> 393.0 km<br>                 <b>Distance piste:</b> 72.0 km<br>                 <b>Temps aller:</b> 1.16 h                 </div>`)[0];
                popup_3796eedb4e6851287a5f0a0712c9e9c0.setContent(html_2560cb8e4edf7835a6f1c21ecb9f0a2d);
            
        

        marker_f5a0c87f9b48fa29a54b94849a37801e.bindPopup(popup_3796eedb4e6851287a5f0a0712c9e9c0)
        ;

        
    
    
            marker_f5a0c87f9b48fa29a54b94849a37801e.bindTooltip(
                `<div>
                     Chantier: EGS 60
                 </div>`,
                {
  "sticky": true,
}
            );
        
    
                marker_f5a0c87f9b48fa29a54b94849a37801e.setIcon(icon_39b10ea73e24d019ea4e456aaf18c4aa);
            
</script>
</html>