<!DOCTYPE html>
<html>
<head>
    
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    
        <script>
            L_NO_TOUCH = false;
            L_DISABLE_3D = false;
        </script>
    
    <style>html, body {width: 100%;height: 100%;margin: 0;padding: 0;}</style>
    <style>#map {position:absolute;top:0;bottom:0;right:0;left:0;}</style>
    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.9.3/dist/leaflet.js"></script>
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.9.3/dist/leaflet.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-glyphicons.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@6.2.0/css/all.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/python-visualization/folium/folium/templates/leaflet.awesome.rotate.min.css"/>
    
            <meta name="viewport" content="width=device-width,
                initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
            <style>
                #map_882da44ca56f5ccdaae0bde5f993f214 {
                    position: relative;
                    width: 100.0%;
                    height: 100.0%;
                    left: 0.0%;
                    top: 0.0%;
                }
                .leaflet-container { font-size: 1rem; }
            </style>
        
</head>
<body>
    
    
            <div class="folium-map" id="map_882da44ca56f5ccdaae0bde5f993f214" ></div>
        
</body>
<script>
    
    
            var map_882da44ca56f5ccdaae0bde5f993f214 = L.map(
                "map_882da44ca56f5ccdaae0bde5f993f214",
                {
                    center: [31.799, 3.036],
                    crs: L.CRS.EPSG3857,
                    ...{
  "zoom": 6,
  "zoomControl": true,
  "preferCanvas": false,
}

                }
            );

            

        
    
            var tile_layer_ad815ae8c5fa4ead2c982a06ca7d95d3 = L.tileLayer(
                "https://tile.openstreetmap.org/{z}/{x}/{y}.png",
                {
  "minZoom": 0,
  "maxZoom": 19,
  "maxNativeZoom": 19,
  "noWrap": false,
  "attribution": "\u0026copy; \u003ca href=\"https://www.openstreetmap.org/copyright\"\u003eOpenStreetMap\u003c/a\u003e contributors",
  "subdomains": "abc",
  "detectRetina": false,
  "tms": false,
  "opacity": 1,
}

            );
        
    
            tile_layer_ad815ae8c5fa4ead2c982a06ca7d95d3.addTo(map_882da44ca56f5ccdaae0bde5f993f214);
        
    
            var marker_7a242ccbe39a8a5af01f9a32f4d81057 = L.marker(
                [32.5, 3.0],
                {
}
            ).addTo(map_882da44ca56f5ccdaae0bde5f993f214);
        
    
            var icon_30657cbaf5937fb4022bef455682e77a = L.AwesomeMarkers.icon(
                {
  "markerColor": "blue",
  "iconColor": "white",
  "icon": "info-sign",
  "prefix": "glyphicon",
  "extraClasses": "fa-rotate-0",
}
            );
        
    
        var popup_af799918083a99065fcce17ac06dabe6 = L.popup({
  "maxWidth": 300,
});

        
            
                var html_773edb7216372943add0542f0abd6336 = $(`<div id="html_773edb7216372943add0542f0abd6336" style="width: 100.0%; height: 100.0%;">             <b>ID Client:</b> 37<br>             <b>Localisation:</b> Nouveau camp - Zone Sbaa (G: 170 km - P: ...)<br>             <b>Nature du terrain:</b> Non spécifiée<br>             <b>Distance goudron:</b> 232.0 km<br>             <b>Distance piste:</b> 80.0 km<br>             <b>Temps aller:</b> 1.00 h             </div>`)[0];
                popup_af799918083a99065fcce17ac06dabe6.setContent(html_773edb7216372943add0542f0abd6336);
            
        

        marker_7a242ccbe39a8a5af01f9a32f4d81057.bindPopup(popup_af799918083a99065fcce17ac06dabe6)
        ;

        
    
    
            marker_7a242ccbe39a8a5af01f9a32f4d81057.bindTooltip(
                `<div>
                     Chantier: 37
                 </div>`,
                {
  "sticky": true,
}
            );
        
    
                marker_7a242ccbe39a8a5af01f9a32f4d81057.setIcon(icon_30657cbaf5937fb4022bef455682e77a);
            
    
            var marker_e5ccd5a1326800bfbe16b0f4613a363c = L.marker(
                [28.9, -1.2],
                {
}
            ).addTo(map_882da44ca56f5ccdaae0bde5f993f214);
        
    
            var icon_6523a86116a0ae7419dc9a2aa08fb546 = L.AwesomeMarkers.icon(
                {
  "markerColor": "blue",
  "iconColor": "white",
  "icon": "info-sign",
  "prefix": "glyphicon",
  "extraClasses": "fa-rotate-0",
}
            );
        
    
        var popup_16c4a123be637e9dff340201c66a668a = L.popup({
  "maxWidth": 300,
});

        
            
                var html_a20a5ac84925fde1f883b6392cf85822 = $(`<div id="html_a20a5ac84925fde1f883b6392cf85822" style="width: 100.0%; height: 100.0%;">             <b>ID Client:</b> 38<br>             <b>Localisation:</b> Tinirkouk - W. Adrar<br>             <b>Nature du terrain:</b> Non spécifiée<br>             <b>Distance goudron:</b> 961.0 km<br>             <b>Distance piste:</b> 75.0 km<br>             <b>Temps aller:</b> 2.59 h             </div>`)[0];
                popup_16c4a123be637e9dff340201c66a668a.setContent(html_a20a5ac84925fde1f883b6392cf85822);
            
        

        marker_e5ccd5a1326800bfbe16b0f4613a363c.bindPopup(popup_16c4a123be637e9dff340201c66a668a)
        ;

        
    
    
            marker_e5ccd5a1326800bfbe16b0f4613a363c.bindTooltip(
                `<div>
                     Chantier: 38
                 </div>`,
                {
  "sticky": true,
}
            );
        
    
                marker_e5ccd5a1326800bfbe16b0f4613a363c.setIcon(icon_6523a86116a0ae7419dc9a2aa08fb546);
            
    
            var marker_282c68b894cd789f566c41d7896458de = L.marker(
                [33.35, 6.85],
                {
}
            ).addTo(map_882da44ca56f5ccdaae0bde5f993f214);
        
    
            var icon_a5d538c1b6bc27e08f17544e893f78b2 = L.AwesomeMarkers.icon(
                {
  "markerColor": "blue",
  "iconColor": "white",
  "icon": "info-sign",
  "prefix": "glyphicon",
  "extraClasses": "fa-rotate-0",
}
            );
        
    
        var popup_1ef7e23104ae2abb33bd1631eb57542a = L.popup({
  "maxWidth": 300,
});

        
            
                var html_23cf4e81edffdc938caa04cb3cc00922 = $(`<div id="html_23cf4e81edffdc938caa04cb3cc00922" style="width: 100.0%; height: 100.0%;">             <b>ID Client:</b> 39<br>             <b>Localisation:</b> El Oued<br>             <b>Nature du terrain:</b> Non spécifiée<br>             <b>Distance goudron:</b> 290.0 km<br>             <b>Distance piste:</b> 0.0 km<br>             <b>Temps aller:</b> 1.00 h             </div>`)[0];
                popup_1ef7e23104ae2abb33bd1631eb57542a.setContent(html_23cf4e81edffdc938caa04cb3cc00922);
            
        

        marker_282c68b894cd789f566c41d7896458de.bindPopup(popup_1ef7e23104ae2abb33bd1631eb57542a)
        ;

        
    
    
            marker_282c68b894cd789f566c41d7896458de.bindTooltip(
                `<div>
                     Chantier: 39
                 </div>`,
                {
  "sticky": true,
}
            );
        
    
                marker_282c68b894cd789f566c41d7896458de.setIcon(icon_a5d538c1b6bc27e08f17544e893f78b2);
            
    
            var marker_f03cf673331c1fa1a2fa1a6dd8183a92 = L.marker(
                [32.85, 5.65],
                {
}
            ).addTo(map_882da44ca56f5ccdaae0bde5f993f214);
        
    
            var icon_755366c12ec7cb9111dfd410df32584f = L.AwesomeMarkers.icon(
                {
  "markerColor": "blue",
  "iconColor": "white",
  "icon": "info-sign",
  "prefix": "glyphicon",
  "extraClasses": "fa-rotate-0",
}
            );
        
    
        var popup_3a0b156f75733ae8fdadad29f85a4ecd = L.popup({
  "maxWidth": 300,
});

        
            
                var html_7f0e5fac8a6298ce8b69c3b8b57ed62a = $(`<div id="html_7f0e5fac8a6298ce8b69c3b8b57ed62a" style="width: 100.0%; height: 100.0%;">             <b>ID Client:</b> 40<br>             <b>Localisation:</b> BEZIM DAHRAOUI<br>             <b>Nature du terrain:</b> Non spécifiée<br>             <b>Distance goudron:</b> 15.0 km<br>             <b>Distance piste:</b> 0.0 km<br>             <b>Temps aller:</b> 0.04 h             </div>`)[0];
                popup_3a0b156f75733ae8fdadad29f85a4ecd.setContent(html_7f0e5fac8a6298ce8b69c3b8b57ed62a);
            
        

        marker_f03cf673331c1fa1a2fa1a6dd8183a92.bindPopup(popup_3a0b156f75733ae8fdadad29f85a4ecd)
        ;

        
    
    
            marker_f03cf673331c1fa1a2fa1a6dd8183a92.bindTooltip(
                `<div>
                     Chantier: 40
                 </div>`,
                {
  "sticky": true,
}
            );
        
    
                marker_f03cf673331c1fa1a2fa1a6dd8183a92.setIcon(icon_755366c12ec7cb9111dfd410df32584f);
            
    
            var marker_dbdac5b26f69f1ca6ba00254c1984380 = L.marker(
                [30.57, 2.88],
                {
}
            ).addTo(map_882da44ca56f5ccdaae0bde5f993f214);
        
    
            var icon_beebbfa7a4791047ad9104e4bd404c76 = L.AwesomeMarkers.icon(
                {
  "markerColor": "blue",
  "iconColor": "white",
  "icon": "info-sign",
  "prefix": "glyphicon",
  "extraClasses": "fa-rotate-0",
}
            );
        
    
        var popup_1637d6bf84604f5eedb512dcba3e520d = L.popup({
  "maxWidth": 300,
});

        
            
                var html_7edba4e8217ee54e0b81703cab57c384 = $(`<div id="html_7edba4e8217ee54e0b81703cab57c384" style="width: 100.0%; height: 100.0%;">             <b>ID Client:</b> 41<br>             <b>Localisation:</b> El Menia<br>             <b>Nature du terrain:</b> Non spécifiée<br>             <b>Distance goudron:</b> 475.0 km<br>             <b>Distance piste:</b> 65.0 km<br>             <b>Temps aller:</b> 1.00 h             </div>`)[0];
                popup_1637d6bf84604f5eedb512dcba3e520d.setContent(html_7edba4e8217ee54e0b81703cab57c384);
            
        

        marker_dbdac5b26f69f1ca6ba00254c1984380.bindPopup(popup_1637d6bf84604f5eedb512dcba3e520d)
        ;

        
    
    
            marker_dbdac5b26f69f1ca6ba00254c1984380.bindTooltip(
                `<div>
                     Chantier: 41
                 </div>`,
                {
  "sticky": true,
}
            );
        
    
                marker_dbdac5b26f69f1ca6ba00254c1984380.setIcon(icon_beebbfa7a4791047ad9104e4bd404c76);
            
    
            var marker_4f8711149e0436712795687dd82d58cf = L.marker(
                [30.47, 3.23],
                {
}
            ).addTo(map_882da44ca56f5ccdaae0bde5f993f214);
        
    
            var icon_5cda1e21d7f04e22f670b519227cdc65 = L.AwesomeMarkers.icon(
                {
  "markerColor": "blue",
  "iconColor": "white",
  "icon": "info-sign",
  "prefix": "glyphicon",
  "extraClasses": "fa-rotate-0",
}
            );
        
    
        var popup_b6ea7318b17263c953365743f474aa98 = L.popup({
  "maxWidth": 300,
});

        
            
                var html_13ea754f1d7a62534ecfbded9cf65945 = $(`<div id="html_13ea754f1d7a62534ecfbded9cf65945" style="width: 100.0%; height: 100.0%;">             <b>ID Client:</b> 42<br>             <b>Localisation:</b> Hassi El Fehal - El Menia<br>             <b>Nature du terrain:</b> Non spécifiée<br>             <b>Distance goudron:</b> 343.0 km<br>             <b>Distance piste:</b> 3.0 km<br>             <b>Temps aller:</b> 1.00 h             </div>`)[0];
                popup_b6ea7318b17263c953365743f474aa98.setContent(html_13ea754f1d7a62534ecfbded9cf65945);
            
        

        marker_4f8711149e0436712795687dd82d58cf.bindPopup(popup_b6ea7318b17263c953365743f474aa98)
        ;

        
    
    
            marker_4f8711149e0436712795687dd82d58cf.bindTooltip(
                `<div>
                     Chantier: 42
                 </div>`,
                {
  "sticky": true,
}
            );
        
    
                marker_4f8711149e0436712795687dd82d58cf.setIcon(icon_5cda1e21d7f04e22f670b519227cdc65);
            
    
            var marker_2d48d01da65b0878e2f2c2c8af51d464 = L.marker(
                [29.15, -1.45],
                {
}
            ).addTo(map_882da44ca56f5ccdaae0bde5f993f214);
        
    
            var icon_038b01f460ca8daf2bd5180abd870ef1 = L.AwesomeMarkers.icon(
                {
  "markerColor": "blue",
  "iconColor": "white",
  "icon": "info-sign",
  "prefix": "glyphicon",
  "extraClasses": "fa-rotate-0",
}
            );
        
    
        var popup_c4ff2923b9213232f67b6773e82bcdf5 = L.popup({
  "maxWidth": 300,
});

        
            
                var html_d5ceecb900259545bd09f80562aa79e7 = $(`<div id="html_d5ceecb900259545bd09f80562aa79e7" style="width: 100.0%; height: 100.0%;">             <b>ID Client:</b> 43<br>             <b>Localisation:</b> HASSI AGRAB<br>             <b>Nature du terrain:</b> Non spécifiée<br>             <b>Distance goudron:</b> 94.0 km<br>             <b>Distance piste:</b> 2.0 km<br>             <b>Temps aller:</b> 0.50 h             </div>`)[0];
                popup_c4ff2923b9213232f67b6773e82bcdf5.setContent(html_d5ceecb900259545bd09f80562aa79e7);
            
        

        marker_2d48d01da65b0878e2f2c2c8af51d464.bindPopup(popup_c4ff2923b9213232f67b6773e82bcdf5)
        ;

        
    
    
            marker_2d48d01da65b0878e2f2c2c8af51d464.bindTooltip(
                `<div>
                     Chantier: 43
                 </div>`,
                {
  "sticky": true,
}
            );
        
    
                marker_2d48d01da65b0878e2f2c2c8af51d464.setIcon(icon_038b01f460ca8daf2bd5180abd870ef1);
            
    
            var marker_8d8c3c35c0f75d80969ed5eaf0c89d6d = L.marker(
                [34.2, 2.5],
                {
}
            ).addTo(map_882da44ca56f5ccdaae0bde5f993f214);
        
    
            var icon_1980b9e49f48ae751430a5864580a8cc = L.AwesomeMarkers.icon(
                {
  "markerColor": "blue",
  "iconColor": "white",
  "icon": "info-sign",
  "prefix": "glyphicon",
  "extraClasses": "fa-rotate-0",
}
            );
        
    
        var popup_5cfc4edcb69ffabf932bd077c69dc3f7 = L.popup({
  "maxWidth": 300,
});

        
            
                var html_ef8a509e0d8e1645153899ea429e7f22 = $(`<div id="html_ef8a509e0d8e1645153899ea429e7f22" style="width: 100.0%; height: 100.0%;">             <b>ID Client:</b> EGS 100<br>             <b>Localisation:</b> BIR LAHRACHE (G: 860 Km - P: 04 Km)<br>             <b>Nature du terrain:</b> Non spécifiée<br>             <b>Distance goudron:</b> 1155.0 km<br>             <b>Distance piste:</b> 7.0 km<br>             <b>Temps aller:</b> 2.00 h             </div>`)[0];
                popup_5cfc4edcb69ffabf932bd077c69dc3f7.setContent(html_ef8a509e0d8e1645153899ea429e7f22);
            
        

        marker_8d8c3c35c0f75d80969ed5eaf0c89d6d.bindPopup(popup_5cfc4edcb69ffabf932bd077c69dc3f7)
        ;

        
    
    
            marker_8d8c3c35c0f75d80969ed5eaf0c89d6d.bindTooltip(
                `<div>
                     Chantier: EGS 100
                 </div>`,
                {
  "sticky": true,
}
            );
        
    
                marker_8d8c3c35c0f75d80969ed5eaf0c89d6d.setIcon(icon_1980b9e49f48ae751430a5864580a8cc);
            
    
            var marker_7ecaee39c5ea69c8d4e0dea6dcf396c9 = L.marker(
                [32.9, 5.7],
                {
}
            ).addTo(map_882da44ca56f5ccdaae0bde5f993f214);
        
    
            var icon_ee0048526496fbaba7c5ff1535d8aaf2 = L.AwesomeMarkers.icon(
                {
  "markerColor": "blue",
  "iconColor": "white",
  "icon": "info-sign",
  "prefix": "glyphicon",
  "extraClasses": "fa-rotate-0",
}
            );
        
    
        var popup_e48238c34475acb786a221056426692f = L.popup({
  "maxWidth": 300,
});

        
            
                var html_55a29da8c0f2f75e70e0ffcb758fa707 = $(`<div id="html_55a29da8c0f2f75e70e0ffcb758fa707" style="width: 100.0%; height: 100.0%;">             <b>ID Client:</b> EGS 120<br>             <b>Localisation:</b> TFT - OHANET<br>             <b>Nature du terrain:</b> Non spécifiée<br>             <b>Distance goudron:</b> 603.0 km<br>             <b>Distance piste:</b> 1.0 km<br>             <b>Temps aller:</b> 2.00 h             </div>`)[0];
                popup_e48238c34475acb786a221056426692f.setContent(html_55a29da8c0f2f75e70e0ffcb758fa707);
            
        

        marker_7ecaee39c5ea69c8d4e0dea6dcf396c9.bindPopup(popup_e48238c34475acb786a221056426692f)
        ;

        
    
    
            marker_7ecaee39c5ea69c8d4e0dea6dcf396c9.bindTooltip(
                `<div>
                     Chantier: EGS 120
                 </div>`,
                {
  "sticky": true,
}
            );
        
    
                marker_7ecaee39c5ea69c8d4e0dea6dcf396c9.setIcon(icon_ee0048526496fbaba7c5ff1535d8aaf2);
            
    
            var marker_a35d62238b98514e643164fcdad4ad78 = L.marker(
                [33.1, 3.2],
                {
}
            ).addTo(map_882da44ca56f5ccdaae0bde5f993f214);
        
    
            var icon_d0a9fbd9662a25a2bd34531dea21cfbb = L.AwesomeMarkers.icon(
                {
  "markerColor": "blue",
  "iconColor": "white",
  "icon": "info-sign",
  "prefix": "glyphicon",
  "extraClasses": "fa-rotate-0",
}
            );
        
    
        var popup_984862c38de5cfbcff20145b0470d647 = L.popup({
  "maxWidth": 300,
});

        
            
                var html_b2e4b2f2cbcf45628e212ebef8c860d6 = $(`<div id="html_b2e4b2f2cbcf45628e212ebef8c860d6" style="width: 100.0%; height: 100.0%;">             <b>ID Client:</b> EGS 60<br>             <b>Localisation:</b> Hassi R'Mel - Laghouat<br>             <b>Nature du terrain:</b> Non spécifiée<br>             <b>Distance goudron:</b> 393.0 km<br>             <b>Distance piste:</b> 72.0 km<br>             <b>Temps aller:</b> 1.16 h             </div>`)[0];
                popup_984862c38de5cfbcff20145b0470d647.setContent(html_b2e4b2f2cbcf45628e212ebef8c860d6);
            
        

        marker_a35d62238b98514e643164fcdad4ad78.bindPopup(popup_984862c38de5cfbcff20145b0470d647)
        ;

        
    
    
            marker_a35d62238b98514e643164fcdad4ad78.bindTooltip(
                `<div>
                     Chantier: EGS 60
                 </div>`,
                {
  "sticky": true,
}
            );
        
    
                marker_a35d62238b98514e643164fcdad4ad78.setIcon(icon_d0a9fbd9662a25a2bd34531dea21cfbb);
            
</script>
</html>