<!DOCTYPE html>
<html>
<head>
    
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    
        <script>
            L_NO_TOUCH = false;
            L_DISABLE_3D = false;
        </script>
    
    <style>html, body {width: 100%;height: 100%;margin: 0;padding: 0;}</style>
    <style>#map {position:absolute;top:0;bottom:0;right:0;left:0;}</style>
    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.9.3/dist/leaflet.js"></script>
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.9.3/dist/leaflet.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-glyphicons.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@6.2.0/css/all.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/python-visualization/folium/folium/templates/leaflet.awesome.rotate.min.css"/>
    
            <meta name="viewport" content="width=device-width,
                initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
            <style>
                #map_d5eec378680ae053cba6c9edfc114e6d {
                    position: relative;
                    width: 100.0%;
                    height: 100.0%;
                    left: 0.0%;
                    top: 0.0%;
                }
                .leaflet-container { font-size: 1rem; }
            </style>
        
</head>
<body>
    
    
            <div class="folium-map" id="map_d5eec378680ae053cba6c9edfc114e6d" ></div>
        
</body>
<script>
    
    
            var map_d5eec378680ae053cba6c9edfc114e6d = L.map(
                "map_d5eec378680ae053cba6c9edfc114e6d",
                {
                    center: [31.799, 3.036],
                    crs: L.CRS.EPSG3857,
                    ...{
  "zoom": 6,
  "zoomControl": true,
  "preferCanvas": false,
}

                }
            );

            

        
    
            var tile_layer_5cd9d0ada4b3ece7c70eb63c418e51d9 = L.tileLayer(
                "https://tile.openstreetmap.org/{z}/{x}/{y}.png",
                {
  "minZoom": 0,
  "maxZoom": 19,
  "maxNativeZoom": 19,
  "noWrap": false,
  "attribution": "\u0026copy; \u003ca href=\"https://www.openstreetmap.org/copyright\"\u003eOpenStreetMap\u003c/a\u003e contributors",
  "subdomains": "abc",
  "detectRetina": false,
  "tms": false,
  "opacity": 1,
}

            );
        
    
            tile_layer_5cd9d0ada4b3ece7c70eb63c418e51d9.addTo(map_d5eec378680ae053cba6c9edfc114e6d);
        
    
            var marker_c2ccf845bbbcbb92ccb99c97893edbc3 = L.marker(
                [32.5, 3.0],
                {
}
            ).addTo(map_d5eec378680ae053cba6c9edfc114e6d);
        
    
            var icon_fdac1f9c1a8607763efef7903cf8f4a1 = L.AwesomeMarkers.icon(
                {
  "markerColor": "blue",
  "iconColor": "white",
  "icon": "info-sign",
  "prefix": "glyphicon",
  "extraClasses": "fa-rotate-0",
}
            );
        
    
        var popup_6282e7cb40b56f5cd287135270e2b689 = L.popup({
  "maxWidth": 300,
});

        
            
                var html_6c14bb0bfa26c9ee741cede3101bbbac = $(`<div id="html_6c14bb0bfa26c9ee741cede3101bbbac" style="width: 100.0%; height: 100.0%;">             <b>ID Client:</b> 37<br>             <b>Localisation:</b> Nouveau camp - Zone Sbaa (G: 170 km - P: ...)<br>             <b>Nature du terrain:</b> Non spécifiée<br>             <b>Distance goudron:</b> 232.0 km<br>             <b>Distance piste:</b> 80.0 km<br>             <b>Temps aller:</b> 1.00 h             </div>`)[0];
                popup_6282e7cb40b56f5cd287135270e2b689.setContent(html_6c14bb0bfa26c9ee741cede3101bbbac);
            
        

        marker_c2ccf845bbbcbb92ccb99c97893edbc3.bindPopup(popup_6282e7cb40b56f5cd287135270e2b689)
        ;

        
    
    
            marker_c2ccf845bbbcbb92ccb99c97893edbc3.bindTooltip(
                `<div>
                     Chantier: 37
                 </div>`,
                {
  "sticky": true,
}
            );
        
    
                marker_c2ccf845bbbcbb92ccb99c97893edbc3.setIcon(icon_fdac1f9c1a8607763efef7903cf8f4a1);
            
    
            var marker_902ada674c2bf9169a2701cbc6e5b710 = L.marker(
                [28.9, -1.2],
                {
}
            ).addTo(map_d5eec378680ae053cba6c9edfc114e6d);
        
    
            var icon_be72a22582240b7d820f9cb409396aed = L.AwesomeMarkers.icon(
                {
  "markerColor": "blue",
  "iconColor": "white",
  "icon": "info-sign",
  "prefix": "glyphicon",
  "extraClasses": "fa-rotate-0",
}
            );
        
    
        var popup_a10ff01da54087238f1ac2a20dde9217 = L.popup({
  "maxWidth": 300,
});

        
            
                var html_b0e90ba508e321a6c555596baa179925 = $(`<div id="html_b0e90ba508e321a6c555596baa179925" style="width: 100.0%; height: 100.0%;">             <b>ID Client:</b> 38<br>             <b>Localisation:</b> Tinirkouk - W. Adrar<br>             <b>Nature du terrain:</b> Non spécifiée<br>             <b>Distance goudron:</b> 961.0 km<br>             <b>Distance piste:</b> 75.0 km<br>             <b>Temps aller:</b> 2.59 h             </div>`)[0];
                popup_a10ff01da54087238f1ac2a20dde9217.setContent(html_b0e90ba508e321a6c555596baa179925);
            
        

        marker_902ada674c2bf9169a2701cbc6e5b710.bindPopup(popup_a10ff01da54087238f1ac2a20dde9217)
        ;

        
    
    
            marker_902ada674c2bf9169a2701cbc6e5b710.bindTooltip(
                `<div>
                     Chantier: 38
                 </div>`,
                {
  "sticky": true,
}
            );
        
    
                marker_902ada674c2bf9169a2701cbc6e5b710.setIcon(icon_be72a22582240b7d820f9cb409396aed);
            
    
            var marker_3bd5f444e4ba49bb81b23c5839cc792d = L.marker(
                [33.35, 6.85],
                {
}
            ).addTo(map_d5eec378680ae053cba6c9edfc114e6d);
        
    
            var icon_a74e6bf6e7beb1e531a42a2231b7510c = L.AwesomeMarkers.icon(
                {
  "markerColor": "blue",
  "iconColor": "white",
  "icon": "info-sign",
  "prefix": "glyphicon",
  "extraClasses": "fa-rotate-0",
}
            );
        
    
        var popup_b7053d42d1e1c0ff45b855867ab4b67c = L.popup({
  "maxWidth": 300,
});

        
            
                var html_972dce5550a5a5cb086f86733cb3a2fc = $(`<div id="html_972dce5550a5a5cb086f86733cb3a2fc" style="width: 100.0%; height: 100.0%;">             <b>ID Client:</b> 39<br>             <b>Localisation:</b> El Oued<br>             <b>Nature du terrain:</b> Non spécifiée<br>             <b>Distance goudron:</b> 290.0 km<br>             <b>Distance piste:</b> 0.0 km<br>             <b>Temps aller:</b> 1.00 h             </div>`)[0];
                popup_b7053d42d1e1c0ff45b855867ab4b67c.setContent(html_972dce5550a5a5cb086f86733cb3a2fc);
            
        

        marker_3bd5f444e4ba49bb81b23c5839cc792d.bindPopup(popup_b7053d42d1e1c0ff45b855867ab4b67c)
        ;

        
    
    
            marker_3bd5f444e4ba49bb81b23c5839cc792d.bindTooltip(
                `<div>
                     Chantier: 39
                 </div>`,
                {
  "sticky": true,
}
            );
        
    
                marker_3bd5f444e4ba49bb81b23c5839cc792d.setIcon(icon_a74e6bf6e7beb1e531a42a2231b7510c);
            
    
            var marker_c049fac6cf11204747c5b3fbb7de10fd = L.marker(
                [32.85, 5.65],
                {
}
            ).addTo(map_d5eec378680ae053cba6c9edfc114e6d);
        
    
            var icon_6cd106015fa5b60c05ac0c253018dde4 = L.AwesomeMarkers.icon(
                {
  "markerColor": "blue",
  "iconColor": "white",
  "icon": "info-sign",
  "prefix": "glyphicon",
  "extraClasses": "fa-rotate-0",
}
            );
        
    
        var popup_132fa874d00f74b361b5a0151debaf96 = L.popup({
  "maxWidth": 300,
});

        
            
                var html_aebe6f9e469904115adbcda0e5d123e5 = $(`<div id="html_aebe6f9e469904115adbcda0e5d123e5" style="width: 100.0%; height: 100.0%;">             <b>ID Client:</b> 40<br>             <b>Localisation:</b> BEZIM DAHRAOUI<br>             <b>Nature du terrain:</b> Non spécifiée<br>             <b>Distance goudron:</b> 15.0 km<br>             <b>Distance piste:</b> 0.0 km<br>             <b>Temps aller:</b> 0.04 h             </div>`)[0];
                popup_132fa874d00f74b361b5a0151debaf96.setContent(html_aebe6f9e469904115adbcda0e5d123e5);
            
        

        marker_c049fac6cf11204747c5b3fbb7de10fd.bindPopup(popup_132fa874d00f74b361b5a0151debaf96)
        ;

        
    
    
            marker_c049fac6cf11204747c5b3fbb7de10fd.bindTooltip(
                `<div>
                     Chantier: 40
                 </div>`,
                {
  "sticky": true,
}
            );
        
    
                marker_c049fac6cf11204747c5b3fbb7de10fd.setIcon(icon_6cd106015fa5b60c05ac0c253018dde4);
            
    
            var marker_1efe15e5496ea937065d0a46952255b8 = L.marker(
                [30.57, 2.88],
                {
}
            ).addTo(map_d5eec378680ae053cba6c9edfc114e6d);
        
    
            var icon_019d3689d49e5c7176b8d34169fabc60 = L.AwesomeMarkers.icon(
                {
  "markerColor": "blue",
  "iconColor": "white",
  "icon": "info-sign",
  "prefix": "glyphicon",
  "extraClasses": "fa-rotate-0",
}
            );
        
    
        var popup_441b586777d4daa62d7466e376e9cfc2 = L.popup({
  "maxWidth": 300,
});

        
            
                var html_c5759f371c2ef3df518dddad7e4b51cf = $(`<div id="html_c5759f371c2ef3df518dddad7e4b51cf" style="width: 100.0%; height: 100.0%;">             <b>ID Client:</b> 41<br>             <b>Localisation:</b> El Menia<br>             <b>Nature du terrain:</b> Non spécifiée<br>             <b>Distance goudron:</b> 475.0 km<br>             <b>Distance piste:</b> 65.0 km<br>             <b>Temps aller:</b> 1.00 h             </div>`)[0];
                popup_441b586777d4daa62d7466e376e9cfc2.setContent(html_c5759f371c2ef3df518dddad7e4b51cf);
            
        

        marker_1efe15e5496ea937065d0a46952255b8.bindPopup(popup_441b586777d4daa62d7466e376e9cfc2)
        ;

        
    
    
            marker_1efe15e5496ea937065d0a46952255b8.bindTooltip(
                `<div>
                     Chantier: 41
                 </div>`,
                {
  "sticky": true,
}
            );
        
    
                marker_1efe15e5496ea937065d0a46952255b8.setIcon(icon_019d3689d49e5c7176b8d34169fabc60);
            
    
            var marker_5582fe69324e9674680bc44b3c4ab0ee = L.marker(
                [30.47, 3.23],
                {
}
            ).addTo(map_d5eec378680ae053cba6c9edfc114e6d);
        
    
            var icon_a19c257209aab89c9f8e599d0cc810dd = L.AwesomeMarkers.icon(
                {
  "markerColor": "blue",
  "iconColor": "white",
  "icon": "info-sign",
  "prefix": "glyphicon",
  "extraClasses": "fa-rotate-0",
}
            );
        
    
        var popup_7e651a6cb38e800935d424c5120b2fc9 = L.popup({
  "maxWidth": 300,
});

        
            
                var html_8e807ea050103d7dd64189bf9359df7b = $(`<div id="html_8e807ea050103d7dd64189bf9359df7b" style="width: 100.0%; height: 100.0%;">             <b>ID Client:</b> 42<br>             <b>Localisation:</b> Hassi El Fehal - El Menia<br>             <b>Nature du terrain:</b> Non spécifiée<br>             <b>Distance goudron:</b> 343.0 km<br>             <b>Distance piste:</b> 3.0 km<br>             <b>Temps aller:</b> 1.00 h             </div>`)[0];
                popup_7e651a6cb38e800935d424c5120b2fc9.setContent(html_8e807ea050103d7dd64189bf9359df7b);
            
        

        marker_5582fe69324e9674680bc44b3c4ab0ee.bindPopup(popup_7e651a6cb38e800935d424c5120b2fc9)
        ;

        
    
    
            marker_5582fe69324e9674680bc44b3c4ab0ee.bindTooltip(
                `<div>
                     Chantier: 42
                 </div>`,
                {
  "sticky": true,
}
            );
        
    
                marker_5582fe69324e9674680bc44b3c4ab0ee.setIcon(icon_a19c257209aab89c9f8e599d0cc810dd);
            
    
            var marker_7b4c02ee00aafe6a53240ac3ff2acfc1 = L.marker(
                [29.15, -1.45],
                {
}
            ).addTo(map_d5eec378680ae053cba6c9edfc114e6d);
        
    
            var icon_3da81ccfa2613cb152071e7ebb4e0429 = L.AwesomeMarkers.icon(
                {
  "markerColor": "blue",
  "iconColor": "white",
  "icon": "info-sign",
  "prefix": "glyphicon",
  "extraClasses": "fa-rotate-0",
}
            );
        
    
        var popup_86e18e2fd25cd25351ba543535fa2aae = L.popup({
  "maxWidth": 300,
});

        
            
                var html_2a599563c1f87d6ee12866733c02efc0 = $(`<div id="html_2a599563c1f87d6ee12866733c02efc0" style="width: 100.0%; height: 100.0%;">             <b>ID Client:</b> 43<br>             <b>Localisation:</b> HASSI AGRAB<br>             <b>Nature du terrain:</b> Non spécifiée<br>             <b>Distance goudron:</b> 94.0 km<br>             <b>Distance piste:</b> 2.0 km<br>             <b>Temps aller:</b> 0.50 h             </div>`)[0];
                popup_86e18e2fd25cd25351ba543535fa2aae.setContent(html_2a599563c1f87d6ee12866733c02efc0);
            
        

        marker_7b4c02ee00aafe6a53240ac3ff2acfc1.bindPopup(popup_86e18e2fd25cd25351ba543535fa2aae)
        ;

        
    
    
            marker_7b4c02ee00aafe6a53240ac3ff2acfc1.bindTooltip(
                `<div>
                     Chantier: 43
                 </div>`,
                {
  "sticky": true,
}
            );
        
    
                marker_7b4c02ee00aafe6a53240ac3ff2acfc1.setIcon(icon_3da81ccfa2613cb152071e7ebb4e0429);
            
    
            var marker_523ce92f45f855fe07cf66b14b8a3a6a = L.marker(
                [34.2, 2.5],
                {
}
            ).addTo(map_d5eec378680ae053cba6c9edfc114e6d);
        
    
            var icon_dd3a37d2560cef5d67ae3d4c014bf249 = L.AwesomeMarkers.icon(
                {
  "markerColor": "blue",
  "iconColor": "white",
  "icon": "info-sign",
  "prefix": "glyphicon",
  "extraClasses": "fa-rotate-0",
}
            );
        
    
        var popup_1bf07472f5c3e6943d18cb44ee79fefc = L.popup({
  "maxWidth": 300,
});

        
            
                var html_edf26e1ee33ff420ce8b2a75da2f30af = $(`<div id="html_edf26e1ee33ff420ce8b2a75da2f30af" style="width: 100.0%; height: 100.0%;">             <b>ID Client:</b> EGS 100<br>             <b>Localisation:</b> BIR LAHRACHE (G: 860 Km - P: 04 Km)<br>             <b>Nature du terrain:</b> Non spécifiée<br>             <b>Distance goudron:</b> 1155.0 km<br>             <b>Distance piste:</b> 7.0 km<br>             <b>Temps aller:</b> 2.00 h             </div>`)[0];
                popup_1bf07472f5c3e6943d18cb44ee79fefc.setContent(html_edf26e1ee33ff420ce8b2a75da2f30af);
            
        

        marker_523ce92f45f855fe07cf66b14b8a3a6a.bindPopup(popup_1bf07472f5c3e6943d18cb44ee79fefc)
        ;

        
    
    
            marker_523ce92f45f855fe07cf66b14b8a3a6a.bindTooltip(
                `<div>
                     Chantier: EGS 100
                 </div>`,
                {
  "sticky": true,
}
            );
        
    
                marker_523ce92f45f855fe07cf66b14b8a3a6a.setIcon(icon_dd3a37d2560cef5d67ae3d4c014bf249);
            
    
            var marker_76d260c6a64dc2c37bfc034081768af8 = L.marker(
                [32.9, 5.7],
                {
}
            ).addTo(map_d5eec378680ae053cba6c9edfc114e6d);
        
    
            var icon_7ec319d260eb3f3797ba65c55e392173 = L.AwesomeMarkers.icon(
                {
  "markerColor": "blue",
  "iconColor": "white",
  "icon": "info-sign",
  "prefix": "glyphicon",
  "extraClasses": "fa-rotate-0",
}
            );
        
    
        var popup_541254278b9beb8095f8ae2ce353fc0f = L.popup({
  "maxWidth": 300,
});

        
            
                var html_daa53ce8f5684d4446730103e16a1cde = $(`<div id="html_daa53ce8f5684d4446730103e16a1cde" style="width: 100.0%; height: 100.0%;">             <b>ID Client:</b> EGS 120<br>             <b>Localisation:</b> TFT - OHANET<br>             <b>Nature du terrain:</b> Non spécifiée<br>             <b>Distance goudron:</b> 603.0 km<br>             <b>Distance piste:</b> 1.0 km<br>             <b>Temps aller:</b> 2.00 h             </div>`)[0];
                popup_541254278b9beb8095f8ae2ce353fc0f.setContent(html_daa53ce8f5684d4446730103e16a1cde);
            
        

        marker_76d260c6a64dc2c37bfc034081768af8.bindPopup(popup_541254278b9beb8095f8ae2ce353fc0f)
        ;

        
    
    
            marker_76d260c6a64dc2c37bfc034081768af8.bindTooltip(
                `<div>
                     Chantier: EGS 120
                 </div>`,
                {
  "sticky": true,
}
            );
        
    
                marker_76d260c6a64dc2c37bfc034081768af8.setIcon(icon_7ec319d260eb3f3797ba65c55e392173);
            
    
            var marker_0132b9722382571c61597cf853c82c8a = L.marker(
                [33.1, 3.2],
                {
}
            ).addTo(map_d5eec378680ae053cba6c9edfc114e6d);
        
    
            var icon_50ee27574feef72deafa0eba915c3a61 = L.AwesomeMarkers.icon(
                {
  "markerColor": "blue",
  "iconColor": "white",
  "icon": "info-sign",
  "prefix": "glyphicon",
  "extraClasses": "fa-rotate-0",
}
            );
        
    
        var popup_f15a98312de5ea1246947fc587d6bc1a = L.popup({
  "maxWidth": 300,
});

        
            
                var html_879774de79512c2f06b3da50dc3ef119 = $(`<div id="html_879774de79512c2f06b3da50dc3ef119" style="width: 100.0%; height: 100.0%;">             <b>ID Client:</b> EGS 60<br>             <b>Localisation:</b> Hassi R'Mel - Laghouat<br>             <b>Nature du terrain:</b> Non spécifiée<br>             <b>Distance goudron:</b> 393.0 km<br>             <b>Distance piste:</b> 72.0 km<br>             <b>Temps aller:</b> 1.16 h             </div>`)[0];
                popup_f15a98312de5ea1246947fc587d6bc1a.setContent(html_879774de79512c2f06b3da50dc3ef119);
            
        

        marker_0132b9722382571c61597cf853c82c8a.bindPopup(popup_f15a98312de5ea1246947fc587d6bc1a)
        ;

        
    
    
            marker_0132b9722382571c61597cf853c82c8a.bindTooltip(
                `<div>
                     Chantier: EGS 60
                 </div>`,
                {
  "sticky": true,
}
            );
        
    
                marker_0132b9722382571c61597cf853c82c8a.setIcon(icon_50ee27574feef72deafa0eba915c3a61);
            
</script>
</html>